.nav-pills {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.nav-pills .nav-link {
  font-size: 1.5rem;
  padding: 0.75rem 1.25rem;
}

.tab-content {
  text-align: center;
  font-size: 1.25rem;
}

.container-box {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  height: 450px;  
  width: 600px;
  flex-direction: column;
  justify-content: center;
}

.Walletbutton {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Button.green {
  background-color: var(--green-4);
  color: var(--green-11);
}
.Button.green:hover {
  background-color: var(--green-5);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}

.Text {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Fieldset {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Label {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 10px;
  color: var(--violet-12);
  display: block;
}

.Input {
  flex: 1 0 auto;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}
.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

.dropdown-menu {
  min-width: 100%;
  background-color: white;
  border: 1px solid var(--violet-7); /* Example border color */
}

.dropdown-item {
  font-size: 1rem; /* Adjust font size as needed */
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  color: var(--violet-11); /* Text color */
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: var(--violet-1); /* Hover/focus background color */
  color: var(--violet-11); /* Hover/focus text color */
}